@font-face {
    font-family: candal;
    src: url(../fonts/Candal-Regular.ttf);
 
  }

    @font-face{   font-family: chenla;
        src: url(../fonts/Chenla-Regular.ttf);}

.clienteex{
    width: 80vw;
    height: 100%;
    padding-left: 5px;
    display: grid;
    background: #CABE82;
    border: 2px solid #000000;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
   
    text-align: left;
    text-decoration: none;
    color: #000;
    padding-left: 15px;
    padding-top: 30px;
        font-family: 'Candal';
        font-style: normal;
        font-size: 25px;
        transition: all .2s ease-in-out;
   
    
   
 
    }

    .INFO{margin-bottom: 12px;
        margin-right:7px ;
        padding-top: 25px;}
    

    .font{
       
        text-decoration: none;
        color: #000;
        font-family: 'Candal';
     font-style: italic;
     font-size: 15px;
    
        
       
     
        }

.clienteex:hover{  
    text-decoration: none;
    transform: scale(1.05);

}


    #lista{
    border: #000 1px solid;

    margin-left: 14rem;
    margin-top: 1rem; 
    height: auto;
    width: auto;


}

.headerhis {
    display: inline-block;
    margin-left: 1rem;
    font-size: 30px;
}

.vertical{
    border-left: 3px solid black;
            height: 100%;
            margin-left: 1rem;
            margin-right: 1rem;
}

.info{
    text-decoration: underline; 
}

#bntliscli{
    text-align: right;
    height: auto;
    margin-left: 60%;
    position: fixed;
    top: 0;
    margin-top: 15px;
    width: fit-content;
    
    }
    #bntliscli2{
        text-align: right;
        height: auto;
        margin-left: 38.5%;
        position: fixed;
        top: 0;
        margin-top: 15px;
        width: fit-content;
        
        }

    #bnt{
        cursor: pointer;
        display: inline-block;
        color: black;
        font-weight: bold;
        font-size: 19px;
        font-family: "Candal";
        text-align: center;
        text-decoration: none;
        width: 250px;
        height: 40px;
        padding-top: 5px;
        background-color: #CABE82;
        color: #000;
        border: 2px solid #000000;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
    #bnt:hover{  
        text-decoration: none;
        transform: scale(1.05);
    
    }

     #bnt2:hover{  
        text-decoration: none;
        transform: scale(1.05);
    
    }
    #bnt2{
        cursor: pointer;
        display: inline-block;
        color: black;
        font-weight: bold;
        font-size: 19px;
        font-family: "Candal";
        text-align: center;
        text-decoration: none;
        width: auto;
        height: 40px;
        padding: 5px;
        background-color: #CABE82;
        color: #000;
        border: 2px solid #000000;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }

    #headerclihis {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        padding: 15px;
        font-family: "Candal";
        font-size: 25px;
        background-color: #CABE82;
        color: #000;
        z-index: 5;
        box-shadow: 0px 5px 10px #82805e;
        width: auto;
        /* margin-left: 285px; */
        padding-left: 190px;
    
    }

    .sectionone{
        text-align: center;
    }